*{
	text-align: right;
}
body{
	background-image: url(back.jpg);
	background-size: cover;
}
p {
	color:red;
	text-align: center;
	border: 5px solid rgba(255, 176, 170, 0.55);
	cursor: pointer;
}
p {
	line-height: 5px;
	font-style: italic;
	font-weight: bold;
	font-size: 100%;
	font-family:  Georgia;
}

img {
	float: right  ;
}

footer {
	clear: both;
	text-align: center;
}

li{
	list-style: none;
	display: inline-block;
}

.webtext{
	border: 5px dashed green;
}

.active{
	color: red;
}

#div1{
	background:rgba(0, 0, 255, .2);
}

#div2 {
	background: rgba(255, 0, 0, 0.2);
}