body{
	background-image: url(back.jpg);
	background-size: cover;
}
h2 {
	color:red;
	text-align: center;
	border: 5px solid rgba(255, 176, 170, 0.55);
	cursor: pointer;
}
p {
	color:blue;
}

li{
	list-style: none;
	display: inline-block;
}